*{
    font-family: 'Courier New', monospace;
 
}
nav a {
  justify-content: space-evenly;;
	background-color:#c4a44e;
	color:whitesmoke;
	flex:1;
	 padding:20px;
	text-decoration:none;
}
nav{
  position:sticky;
 top: 0;
  overflow: hidden;
  padding:5px;
  display:flex;
}
#navbar a:hover {
  background-color: #f8da77;
  color: black;
}

.banner{
  background-image: linear-gradient(rgba(21, 24, 24, 0),
   rgba(0, 0, 0, 0.5)),url("8Mvj.gif") ;
height:70%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;

}